.filter-list{
    display: flex;
    justify-content: center;
    width:100%;
    height: 30%;
    background-color: yellow;

    ul{
        display: flex;
        justify-content: space-evenly;
        height: 30%;
        


        li{
         list-style: none;
         color: black;
         padding-right: 2%;   
              
    }
}


}

