nav {
    // display: flex;
    // justify-content: space-between;
  

    height: 210px;
    font-size: 2em;
  
    h1 {
      padding-left: 40%;
      color: red;
    }
  
     p{
         padding-left:40%;
     }
   
    }
  