nav {
    // display: flex;
    // justify-content: space-between;
  

    height: 200px;
   
  
    h1 {
      padding-left: 40%;
      margin-bottom: 8%;
      color:#e00707; 
      font-size: 3em;

      font-style: italic;
      // size: 70px;
      font-family: 'Courier New', Courier, monospace;
    }
  
     p{
         padding-left:30%;
         margin-bottom: 2%;
         font-size: 25px;
     }
   
    }
  